<!DOCTYPE html>
<html>
        <head>
                <!--<link type="text/css" rel="stylesheet" href="stylesheet.css">-->
                <title>Timesheet</title>
        </head>
<body>

 <h3><center>Timesheets</center></h3>
 <button id="addCF">Add</button>
<%= form_for :mtimesheet, url: timesheets_path do |timesheet| %>
       
        <table class="form-table" id="customFields">
         <th><label for="Project">Project</label></th>
         <th align="center"><label for="Description">Description</label></th>
         <th align="center"><label for="Hours">Hours</label></th>
         <th align="center"><label for="Status">Status</label></th>
         

         <tr valign="top">
            <td align="center"><%= timesheet.text_field :project %></td>
            <td align="center"><%= timesheet.text_field :description %></td>
            <td ><%= timesheet.select :hours, [['1', 1], ['2', 2], ['3',3]] %></td>
            <td align="center"><%= timesheet.select :status, [['Completed',11],['Pending',12]] %></td>
            


            <td colspan="10"><a href="javascript:void(0);" class="remCF">Remove</a></td>&nbsp;
         </tr>
        </table>
        <p>
         <%= timesheet.submit %>
        </p>    
<% end %>

    <% @ctimesheet.each do |times| %>
         <tr valign="top">
            <td align="center"><%= times.project %></td>
            <td align="center"><%= times.description %></td>
            <td align="center"><%= times.hours %></td>
            <td align="center"><%= times.status %></td>
            <td><%= link_to 'Destroy',timesheet_path(times),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
         </tr>
         <% end %>



<script src="app/assets/javascripts/jquery.js"></script>

<script>
$(document).ready(function() {
    $(".remCF").on('click',function(){
        removeRecord(this);
    });
    $("#addCF").click(function() {
        $("#customFields").append('<tr><td><%= text_field(:mtimesheet, :project) %></td><td><%= text_field(:mtimesheet, :description) %></td><td><%= escape_javascript(select(:mtimesheet, :hours,[['1',1],['2',2],['3',3]])) %></td><td><%= escape_javascript(select(:mtimesheet, :status,[['Completed',11],['Pending',12]])) %></td>escape_javascript<td colspan="10"><a href="javascript:void(0);" class="remCF">Remove</a></td>&nbsp;</tr>');
        $(".remCF").unbind('click');
        $(".remCF").on('click',function(){
        removeRecord(this);
        });
    });
});
    function removeRecord(ele){
    var a = confirm("Do you wish to continue?");
    if(a){
        $(ele).parent().parent().remove();
    }
}

</script>
</body>
</html>
